<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <link href="/styles/style.css" rel="stylesheet" />
  </head>
  <body>
    <%- include("partials/header.ejs") %>
    <div
      class="feature-div"
      style="height: 500px; margin-top: 100px; margin-left: 100px"
    >
      <div class="featureInnerDiv" style="height: ">
        <img
          style="margin-top: 30px; height: 300px; width: 350px"
          src="/Gemini_Generated_Image_khyemwkhyemwkhye.jpg"
        />
      </div>
      <div>
        <h2 class="feature-title" style="margin-top: 10px">
          Craft, Share, and Manage Your Stories
        </h2>
        <p class="feature-description">
          Unleash your creativity with our seamless blogging platform. Users can
          effortlessly create captivating <br />blog posts, view them at their
          convenience, and manage their content with ease. Whether it's
          sharing<br />
          your thoughts or keeping your personal stories organized, our
          intuitive features make blogging a <br />breeze.
        </p>
        <h2 class="feature-title" style="margin-top: 70px">
          Your Blogging Toolkit, Simplified
        </h2>
        <p class="feature-description">
          Empower your storytelling journey with tools designed for simplicity
          and efficiency. Create blog posts<br />
          that reflect your ideas, view them in a user-friendly layout, and
          remove outdated content with a single<br />
          click. Your blog, your rules—redefined!
        </p>
      </div>
    </div>

    <%- include("partials/footer.ejs") %>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
