<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Verse</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/styles/style.css" />
  </head>
  <body>
    <%- include("partials/header.ejs") %>

    <div
      class="row g-3 py-5 row-cols-1 row-cols-lg-3"
      style="margin-left: 60px; margin-right: 60px"
    >
      <div class="feature col">
        <div
          class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3"
        >
          <img
            src="/henry-be-TCsCykbwSJw-unsplash.jpg"
            style="height: 300px; width: 420px"
          />
        </div>
        <h3 class="fs-2 text-body-emphasis  pb-3">Literary Sanctuary</h3>
        <p>
          What secrets do books hold? Join us as we uncover the meanings...
        </p>
        <a href="#" class="icon-link">
          Read More →
          <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
        </a>
      </div>


      <div class="feature col">
        <div
          class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3"
          style="border-radius:5px inset:100px "
        >
          <img
            src="/nasa-hubble-space-telescope-Ihr52Kmvg5Y-unsplash.jpg"
            style="height: 300px; width: 420px"
          />
        </div>
        <h3 class="fs-2 text-body-emphasis  pb-3">Voyager's Journey</h3>
        <p>
          The Voyager probes have been exploring the outer reaches of our solar system for over 40 years.Learn about the history of the Voyager missions, their scientific discoveries, and the ongoing journey...
        </p>
        <a href="#" class="icon-link">
          Read More→
          <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
        </a>
      </div>


      <div class="feature col">
        <div
          class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3"
        >
          <img
            src="https://cupofjo.com/wp-content/uploads/2024/11/TatjanaZlatkovic.jpg"
            style="height: 300px; width: 420px"
          />
        </div>
        <h3 class="fs-2 text-body-emphasis  pb-3">Have a Loving Weekend.</h3>
        <p>
          What are your plans for the weekend? I’m excited to go on upstate to crunch through the fall leaves.
        </p>
        <a href="#" class="icon-link">
          Read More→
          <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
        </a>
      </div>



      <div class="feature col pt-10">
        <div
          class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3"
        >
          <img
            src="https://cupofjo.com/wp-content/uploads/2025/01/Ice-Skating.jpg"
            style="height: 300px; width: 420px"
          />
        </div>
        <h3 class="fs-2 text-body-emphasis  pb-3">A Motherhood Realization I Had While Ice Skating</h3>
        <p>
         We are at the public outdoor skating rink in our city, and it is cold, but I am hot. Sweat forms on my neck and torso. My body, prone to hot flashes now that I am in medical menopause...
        </p>
        <a href="#" class="icon-link">
          Read More →
          <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
        </a>
      </div>


      <div class="feature col pt-10">
        <div
          class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3"
        >
          <img
            src="https://cupofjo.com/wp-content/uploads/2025/01/Aaron-Thomas.jpg"
            style="height: 300px; width: 420px"
          />
        </div>
        <h3 class="fs-2 text-body-emphasis pb-3">Last Week Was Incredible! I Visited the Most Beautiful Mountain</h3>
        <p>
          Last week was an unforgettable adventure ever! I had the chance to visit one of the most breathtaking mountains I’ve ever seen. Towering peaks, crisp mountain air, and endless
        </p>
        <a href="#" class="icon-link">
          Read More →
          <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
        </a>
      </div>



      <div class="feature col pt-10">
        <div
          class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3"
        >
          <img
            src="/nasa-8Hjx3GNZYeA-unsplash.jpg"
            style="height: 300px; width: 420px"
          />
        </div>
        <h3 class="fs-2 text-body-emphasis  pb-3">Celestial View</h3>
        <p>
          NASA has recently released a breathtaking image of Earth captured from
          space. The image, taken by a satellite orbiting our planet, showcases
          the intricate beauty of our world.
        </p>
        <a href="#" class="icon-link">
          Read More→
          <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
        </a>
      </div>




    </div>

    <div class="container my-5">
      <div
        class="position-relative p-5 text-center text-muted bg-body border border-dashed rounded-5"
      >
        <svg class="bi mt-5 mb-3" width="48" height="48">
          <use xlink:href="#check2-circle"></use>
        </svg>
        <h1 class="text-body-emphasis body-text text-3xl pb-2">Create Your Own Post</h1>
        <p class="col-lg-6 mx-auto mb-4">
          Start sharing your insights and ideas with the world. Click below to
          create a new post effortlessly.
        </p>
        <a class="btn btn-primary px-5 mb-5" href="/create-view" role="button">
          Get Started
        </a>
      </div>
    </div>

    <%- include("partials/footer.ejs") %>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
